<!--<mat-toolbar color="accent">
 <span><a routerLink="/">The best app in the world</a></span>
   
<span class="example-fill-remaining-space"></span>

 <ul>
     <li>
        <a routerLink="/create" routerLinkActive="mat-primary">Add Post</a>
     </li>
     <li>
        <a routerLink="/" routerLinkActive="mat-primary">List of Posts</a>
     </li>
 </ul>
</mat-toolbar>-->


 <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center"  routerLink="/">The best app in the world!</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/create" routerLinkActive="mat-primary">Add Post</a></li>
        <li><a routerLink="/posts" routerLinkActive="mat-primary">All Posts</a></li>
        <li><a routerLink="/galery" routerLinkActive="mat-primary">Galery</a></li>
      </ul>
    </div>
  </nav>
        